@model MVCOA_5.Model.Department

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <link href="~/Content/Easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/Easyui/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        function afterUpdata(data) {
            if (data=="ok") {
                window.parent.window.afterEditSuccess();
                } else {
                alert(data);
            }
        }

        function Tosubmit() {
            $("form").submit();
        }
    </script>

    @using (Ajax.BeginForm("Updata", "Department", new AjaxOptions()
    {
        HttpMethod = "Post",
        OnSuccess = "afterUpdata"
    }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>UserInfo</legend>

            @Html.HiddenFor(model => model.ID)

            <div class="editor-label">
                @Html.LabelFor(model => model.DepName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DepName)
                @Html.ValidationMessageFor(model => model.DepName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DepNo)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DepNo)
                @Html.ValidationMessageFor(model => model.DepNo)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DepMasterId)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DepMasterId)
                @Html.ValidationMessageFor(model => model.DepMasterId)
            </div>
            @Html.HiddenFor(model => model.SubTime)
            @Html.HiddenFor(model => model.SubBy)
            @Html.HiddenFor(model => model.IsLeaf)
            @Html.HiddenFor(model => model.DelFlag)

           

            <p>
                <input type="submit" value="修改" />
            </p>
        </fieldset>
    }


</body>

</html>


